
<div class="container">
  <div class="card mt-3 form-card">

    <%= simple_form_for :session, url: session_path do |f| %>
    <div class="card-body">
      <%= f.input :email,
          label: false,
          input_html: {placeholder: "Email"} %>
      <%= f.input :password,
          label: false,
          input_html: {placeholder: "Password"} %>

      <div class="flash-alert">
        <%= flash[:alert].present? ? flash[:alert] : nil %>
      </div>

      <%= f.submit 'SIGN IN',
          class: "btn btn-primary btn-sm btn-block dark-blue-btn" %>
    </div>

    <% end %>
  </div>
</div>
