<% @shares.each do |s| %>
  <div class="card mb-1 mx-1">
    <div class="card-body row">
      <div class="col-sm-3">
        <% if s.image.present? %>
              <%= image_tag s.image, style: "width:50%;"%>
              <%#= image_tag s.image.url(:thumb) %>
              <%#= image_tag s.image.url(:content) %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <p class="card-text"><%= raw s.content %></p>
          <p class="ml-3 mb-0"><em>
              <small><strong>Created at: </strong>
                <%= time_ago_in_words(s.created_at) %> ago
              </small>
              <small><strong>Update at: </strong>
                <%= time_ago_in_words(s.updated_at) %> ago
              </small></em>
          </p>
      </div>

    </div>


    <div class="ml-auto mr-2 mb-2">

      <% if can?(:publish, s) && s.may_publish? %>
        <%= link_to 'publish',
            share_publishings_path(s),
            method: :post,
            class:"btn btn-info btn-sm" %>
      <% end %>
      <% if can?(:recycle, s) && s.may_recycle? %>
        <%= link_to 'withhold',
            share_recyclings_path(s),
            method: :post,
            class:"btn btn-warning btn-sm" %>
      <% end %>
      <% if can?(:crud, s) %>
          <%= link_to edit_share_path(s), class:"btn btn-dark btn-sm" do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to share_path(s),
              method: :delete,
              data: {confirm: 'Are you sure?'},
              class:"btn btn-dark btn-sm" do%>
            <i class="fas fa-trash-alt"></i>
          <% end %>
      <% end %>
    </div>

  </div>

<% end %>
