<div class="container-fluid">

  <div class="splitL left">
    
    <h5 class="ml-4 mt-4">Create a new post</h5>
    <div class="share-form mx-1 mt-2">
      <%= render 'form' %>
    </div>

    <div class="ml-2 share-panel">
        <%= link_to user_path(current_user) do %>
          <i class="fas fa-user"></i> your page
        <% end %>
        <%= link_to home_path do%>
          <i class="fas fa-clipboard"></i> Public Posts
        <% end %>
        <%= link_to session_path,
                  method: :delete, data: {confirm: 'Sign out?'} do %>
          <i class="fas fa-sign-out-alt"></i>Sign Out
        <% end %>
    </div>

  </div>

  <div class="splitR right">
     <%= render partial: 'usershare', locals: { shares: @shares } %>
  </div>

</div>
