<% title 'New Post' %>
<div class="container my-3">
  <div class="splitPL left">
    <div class="ml-2 share-panel">
      <p class="panel-head">
        NEW <br> POST
      </p>
      <div class="inner-link">
          <%= link_to public_shares_path do%>
            <i class="fas fa-clipboard"></i> <br> Public Posts
          <% end %>
          <%= link_to shares_path do %>
            <i class="fas fa-paste"></i> <br> Your Posts
          <% end %>
      </div>
      <p class="panel-end">
        <%= link_to user_path(current_user),
            title: "Your Calendar Page" do %>
          <i class="fas fa-calendar-alt"></i>
        <% end %>
      </p>
      <p class="panel-end">
        <%= link_to session_path,
            title: "Log out",
            method: :delete,
            data: {confirm: 'Sign out?'} do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </p>
    </div>
  </div>
  <div class="splitPR right">
    <%= render 'form' %>
  </div>
</div>
