<div class="container">

    <div class="splitPL left">
      <div class="ml-2 share-panel">
          <p class="panel-head">
            PUBLIC <br> POSTS
          </p>
          <div class="inner-link">
            <% if @liked %>
                <%= link_to public_shares_path do %>
                  <i class="fas fa-users"></i> <br> All Posts
                <% end %>
            <% else %>
                <%= link_to public_shares_path({liked: true}) do %>
                  <i class="fab fa-gratipay"></i> <br> Liked Posts
                <% end %>
            <% end %>
            <%= link_to shares_path do %>
              <i class="fas fa-paste"></i> <br> Your Posts
            <% end %>
          </div>
          <p class="panel-end">
            <%= link_to user_path(current_user),
                title: "Your Calendar Page" do %>
              <i class="fas fa-calendar-alt"></i>
            <% end %>
          </p>
          <p class="panel-end">
            <%= link_to session_path,
                title: "Log out",
                method: :delete,
                data: {confirm: 'Sign out?'} do %>
              <i class="fas fa-sign-out-alt"></i>
            <% end %>
          </p>
      </div>
    </div>

    <div class="splitPR right">
    <% if @published.empty? %>
        <h5> You don't have any liked posts yet. </h5>
    <% else %>
      <% @published.each do |s| %>
            <div class="card mb-1 mx-1">
              <div class="card-body row">
                <div class="col-sm-2">
                  <% if s.image.present? %>
                      <%= image_tag s.image, class:"img-left" %>
                  <% end %>
                </div>
                <div class="col-sm-10">
                  <p class="card-text"><%= raw s.content %></p>
                    <p class="mb-0 float-right text-secondary">
                      <small><strong>Created at: </strong>
                        <%= time_ago_in_words(s.created_at) %> ago
                      </small>
                      <small class="ml-2"><strong>Update at: </strong>
                        <%= time_ago_in_words(s.updated_at) %> ago
                      </small></p>
                </div>

              </div>
              <div class="mr-auto ml-1">
                <% if can?(:recycle, s) && s.may_recycle? %>
                  <%= link_to 'withhold',
                      share_recyclings_path(s),
                      method: :post,
                      class:"btn btn-warning btn-sm" %>
                <% end %>
              </div>
              <div class="ml-auto mr-1 mb-1">
                <% @user_like = current_user.likes.find_by_share_id(s) if user_signed_in? %>

                <% if can?(:like, s) %>
                    <% if @user_like %>
                        <%= link_to like_path(@user_like), method: :delete do%>
                          <i class="fas fa-heart text-danger"></i>
                        <% end %>
                    <% else %>
                        <%= link_to share_likes_path(s), method: :post do %>
                          <i class="far fa-heart text-danger"></i>
                        <% end %>
                    <% end %>
                <% end %>
                <strong class="mr-2">
                  <small><%= s.likes.count %></small>
                </strong>
              </div>

            </div>
        <% end %>

      <% end %>

    </div>

</div>
