<div class="container">

    <div class="splitPL left">
      <div class="ml-2 share-panel-public">
          <%= link_to user_path(current_user) do %>
            <i class="fas fa-user"></i> <br> Your Calendar
          <% end %>
          <%= link_to new_share_path do%>
            <i class="far fa-edit"></i> <br> New Post
          <% end %>
          <%= link_to shares_path do %>
            <i class="fas fa-paste"></i> <br> Your Posts
          <% end %>
      </div>
    </div>

    <div class="splitPR right">

      <% @published.each do |s| %>
            <div class="card mb-1 mx-1">
              <div class="card-body row">
                <div class="col-sm-3">
                  <% if s.image.present? %>
                      <%= image_tag s.image, style: "width:50%;"%>
                  <% end %>
                </div>
                <div class="col-sm-9">
                  <p class="card-text"><%= s.content %></p>
                    <p class="mb-0"><small><strong>Created at: </strong>
                      <%= time_ago_in_words(s.created_at) %> ago
                    </small></p>
                    <p class="my-0"><small><strong>Update at: </strong>
                      <%= time_ago_in_words(s.updated_at) %> ago
                    </small></p>
                </div>

              </div>
              <% if can?(:recycle, s) && s.may_recycle? %>
                <%= link_to 'cancel publish', share_recyclings_path(s), method: :post %>
              <% end %>
              <% if can?(:crud, s) %>
                <div class="ml-auto mr-2">
                  <%= link_to "edit", edit_share_path(s), class:"btn btn-dark btn-sm" %>
                  <%= link_to "delete", share_path(s),
                      method: :delete,
                      data: {confirm: 'Are you sure?'},
                      class:"btn btn-dark btn-sm" %>
                </div>
              <% end %>

            </div>
      <% end %>

    </div>

</div>
