<% title "Sign Up" %>
<div class="container">
  <div class="card mt-3 form-card">
    <%= simple_form_for @user do |f| %>

    <div class="card-body">
      <%= f.input :first_name,
          label: false,
          input_html: {placeholder: "First Name"} %>
      <%= f.input :last_name,
          label: false,
          input_html: {placeholder: "Last Name"} %>
      <%= f.input :email,
          label: false,
          input_html: {placeholder: "Email"} %>
      <%= f.input :password,
          label: false,
          input_html: {placeholder: "Password"} %>
      <%= f.input :password_confirmation,
          label: false,
          input_html: {placeholder: "Password Confirmation"} %>

      <%= f.submit 'SIGN UP',
          class: "btn btn-primary btn-sm btn-block dark-blue-btn" %>
    </div>
    <% end %>

  </div>

</div>
