<div class="container">

  <div class="row mt-3">
    <div class="col-lg-9" name="top">
    <!-- Calendar ---------------------------------------------------->
        <%= month_calendar events: @user_records do |date, user_records| %>
          <div class="cell">
            <div class="day-cell">
              <%= date.day %>
            </div>
            <% user_records.each do |r| %>
                <% r.exercises.each do |e| %>
                  <div id="<%= r.id %>"
                    class="inner-cell text-center"
                    data-target="#show-<%= r.id %>"
                    style="background-color:<%= e.colour %>;">
                    <span><%= e.name %></span>
                  </div>
    <%# MODAL below ------------------------------------------------%>
                  <div class="modal fade" id="modal-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">

                      <div class="modal-content show-modal">
                        <button type="button" class="close ml-auto mr-3 mt-1" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="color:white;">&times;</span>
                        </button>
                          <!-- <h5 class="modal-title ml-2" id="exampleModalLongTitle">
                            <%= r.id %>
                          </h5> -->
                        <div class="modal-body">
                          <% if can?(:crud, r) %>
                              <p>
                                <%= link_to "your record",
                                    record_path(r),
                                    class:"btn btn-light btn-sm btn-block" %>
                                <%= link_to "edit",
                                    edit_record_path(r),
                                    class:"btn btn-light btn-sm btn-block" %>
                                <%= link_to(
                                     'delete',
                                     record_path(r),
                                     class:"btn btn-light btn-sm btn-block",
                                     method: :delete,
                                     data: {confirm: 'Are you sure?'}
                                   )
                                %>
                                <%= link_to 'new record',
                                    "#{new_record_path}?date=#{r.start_time.strftime("%Y-%m-%d")}",
                                    class:"btn btn-light btn-sm btn-block" %>
                              </p>
                          <% end %>

                        </div>
                      </div>

                    </div>
                  </div>
    <%# MODAL above------------------------------------------------%>
                <% end %>
            <% end %>

          </div>
        <% end %>

    </div>

<%# User Info & Buttons ------------------------------------------------------%>

   <div class="col-lg-3">


    <div class="user-menu">

        <div id="accordion">
<%#------------------------------------------------------------ card 0 -%>
          <div class="card">
            <div class="card-header text-center">
              <h5 class="py-2 px-4" id="user-info">
              <%= link_to @user.first_name, user_path(@user)%>
              </h5>
              <div class="mb-2">
                <%= link_to home_path, class:"btn btn-light btn-sm mb-1 nav-home" do%>
                  <i class="fas fa-home"></i>
                <% end %>

                <%= link_to session_path,
                  class: "btn btn-light btn-sm mb-1 ml-2 nav-signOut",
                  method: :delete,
                  data: {confirm: 'Sign out?'} do %>
                  <i class="fas fa-sign-out-alt"></i>
                <% end %>
              </div>
            </div>
          </div>


<%# ------------------------------------------------------------- card 1  -%>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <span class="btn btn-light btn-sm">
                    <i class="far fa-calendar-alt"></i>
                  </span>
                  Go to Other Month
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body px-2">
                <div class="go-to-month">
                  <select name="select-year" class="select-year">
                    <option value="2017">2017</option>
                    <option value="2018" selected>2018</option>
                  </select>
                  <select name="select-month" class="select-month">
                      <option disabled selected value> month </option>
                      <% for month in 1..12 %>
                        <option value="<%= month %>">
                          <%= month %>
                        </option>
                      <% end %>
                  </select>
                  <button class="btn btn-light btn-sm" id="change-calendar"> go </button>
                </div>
              </div>
            </div>
          </div>
<%# ------------------------------------------------------------- card 2  -%>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <span class="btn btn-light btn-sm">
                    <i class="fas fa-camera-retro"></i>
                  </span>
                  Take a Screenshot
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                  <select name="months" class="screenshot-select mb-1">
                    <option disabled selected value>   select a month   </option>
                      <% @record_months.each do |month, records| %>
                        <option value="<%= month.strftime('%Y-%m-%d') %>">
                          <%= month.strftime('%Y %B ') %>
                        </option>
                      <% end %>
                  </select>

                    <%= link_to 'Make a screenshot', "#{screenshot_path}?start_date",
                        class: "btn btn-light btn-sm btn-block mb-1 screenshot",
                        id: "screenshot",
                        style: "display:none;" %>
                    <hr>
                    <% if asset_exists?("image-#{@user.id}-#{@user.first_name}.png") %>
                    
                    <%= link_to "click to view",
                        asset_path("image-#{@user.id}-#{@user.first_name}.png"),
                        class: "btn btn-light btn-sm btn-block mb-1 view-image"%>

                    <%= link_to "click to download",
                        asset_path("image-#{@user.id}-#{@user.first_name}.png"),
                        download: "#{@user.first_name}",
                        class: "btn btn-light btn-sm btn-block mb-1 download-image " %>
                    <% end %>

              </div>
            </div>
          </div>
<%# ------------------------------------------------------------- card 3  -%>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                  <span class="btn btn-light btn-sm">
                    <i class="far fa-file-alt"></i>
                  </span>
                  Statistics
                </button>
              </h5>
            </div>

            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <select name="chart-months" class="chart-select mb-1">
                    <option disabled selected value>   select a month   </option>
                    <% @record_months.each do |month, records| %>
                    <option value="<%= month.strftime('%Y-%m-%d') %>">
                      <%= month.strftime('%Y %B') %>
                    </option>
                    <% end %>
                </select>
              </div>
            </div>
          </div>
<%# ------------------------------------------------------------- card 4  -%>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                  <span class="btn btn-light btn-sm">
                    <i class="fas fa-certificate"></i>
                  </span>
                  Calendar Effects
                </button>
              </h5>
            </div>

            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                <button class="btn btn-light btn-sm btn-block mb-1 show-day">
                  toggle day
                </button>
                <button class="btn btn-light btn-sm btn-block mb-1 show-exe">
                  toggle exercise
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%#---------------------------------------------------  Chart Display Area %>
  <div id="chart-container" class="m-auto myChart">
    <a href="#top" title="Go to top" class="btn btn-light btn-sm go-top" id="go-top">
      <i class="far fa-arrow-alt-circle-up"></i>
    </a>
  </div>

<%# below: Go to Another Month ------------------------------------JS - 4 %>
  <script type="text/javascript">
    $('#change-calendar').click(function(e){
        e.preventDefault();
        const selectMonth = $('.select-month').val();
        const selectYear = $('.select-year').val();
        window.location = "<%= user_path(@user) %>?start_date=" +
                          selectYear + "-" + selectMonth + "-01"
    });
  </script>

<%# below: Select Which month to take a screenshot ---------------JS - 3 %>
  <script type="text/javascript">
      $('.screenshot-select').change(function(){
          const selectedMonth = $(this).val();
          const $screenshotButton = $('#screenshot');
          const keep = $screenshotButton.attr('href').split('?')[0];
          const newQuery = `${keep}?start_date=${selectedMonth}`;
          $screenshotButton.attr('href',newQuery);
          // show the execution button
          $('#screenshot').show('slow');
          // $('#collapseThree').addClass('show');
          // window.onload = function(){
          //   console.log('loaded')
          // }
      })
  </script>

<%# below: Animation while screenshotting ---------------------------JS - 2 %>
  <script>
    document.querySelector('a.screenshot').addEventListener('click', ()=>{
      document.querySelector('body').innerHTML =
      `<div class="spinner"></div>
      <div class="loading-info">
        Generating image. Please do not refresh.
      </div>
      `
    })
  </script>

<%# below : Chart Generating via Ajax ----------------------------JS - 1 - %>
<script>
  $('.chart-select').change(function(){
      const selectedMonth = $(this).val();

      $('html, body').animate({
        scrollTop: $("#chart-container").offset().top
      }, 1000);

      Charting.get(`${selectedMonth}`, '<%= api_key %>')
              .then(freqPair=>{

          let pairData = [], pairLabel = [];
          for(let key in freqPair){
            pairLabel.push(key);
            pairData.push(freqPair[key]);
          }

          function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
              color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
          }

          let colorArr = [];
          for(let i=1; i<=pairData.length;i++){
            let temp = getRandomColor();
            colorArr.push(temp);
          }
          const chartContainer = document.getElementById("chart-container");
          const child = document.getElementById("myChart");
          // console.dir(child)
          if (child) {
            chartContainer.removeChild(child);
          }
          const chartCanvas = document.createElement('canvas');
          chartCanvas.setAttribute('id', "myChart");
          chartCanvas.setAttribute('width', "400px");
          chartCanvas.setAttribute('height', "400px");
          // chartCanvas
          chartContainer.appendChild(chartCanvas);

          var ctx = chartCanvas.getContext('2d');
          new Chart(ctx, {
              type: 'doughnut',
              data: {
                  datasets: [{
                      data: pairData,
                      backgroundColor: colorArr
                  }],
                  labels: pairLabel
              },
              options: {
                legend: {
                    display: false
                 },
                 tooltips: {
                    titleFontSize: 20,
                    bodyFontSize: 20
                  }
              }
          });
        });
  });
</script>
<%# below : show/hide the go-top button ----------------------------JS - 1.1 - %>
<script type="text/javascript">
  $('#go-top').hide();
  $(window).scroll(function(){
   if( $(document).scrollTop() > 50 ) {
      $('#go-top').fadeIn();
   } else {
      $('#go-top').fadeOut();
   }
  });
  // $('#go-top').click(function(){
  //   $('#myChart').fadeOut;
  // })
</script>
<%#-HIDDEN---------------------------------------------------HIDDEN---%>

<div class="all-records">
    <% if @user %>
        <h3><%= @user.first_name %></h3>
        <% @user_records.each do |record| %>
          <p id="show-<%= record.id%>"
            data-toggle="modal"
            data-target="#modal-<%= record.id %>">
            show-<%= record.id %>
          </p>

          <% record.exercises.each do |exe| %>
            <p> <%= exe.name %> </p>
          <% end %>

        <% end %>
    <% else %>
        <h1>later this (all records) will be seen by admin</h1>
        <% @records.each do |record| %>
          <p> <%= link_to record.date,record_path(record) %> </p>
        <% end %>
    <% end %>
</div>


</div>
