<div class="container">

  <div class="row mt-3">
    <div class="col-sm-9">
      <!-- Calendar ---------------------------------------------------->
      <%# Error: undefined method `start_time' for #<Record:0x00007ff5405b3118> %>
      <%# solution: add a new column name `start_time` on record but the record %>

        <%= month_calendar events: @user_records do |date, user_records| %>
          <div class="cell">
            <div class="day-cell">
              <%= date.day %>
            </div>
            <% user_records.each do |r| %>
                <% r.exercises.each do |e| %>
                  <div id="<%= r.id %>"
                    class="inner-cell text-center"
                    data-target="#show-<%= r.id %>"
                    style="background-color:<%= e.colour %>;">
                    <span><%= e.name %></span>
                  </div>
    <%# MODAL below ------------------------------------------------%>
                  <div class="modal fade" id="modal-<%= r.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">

                      <div class="modal-content show-modal">
                        <button type="button" class="close ml-auto mr-3 mt-1" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" style="color:white;">&times;</span>
                        </button>
                          <h5 class="modal-title ml-2" id="exampleModalLongTitle">
                            <%= r.id %>
                          </h5>
                        <div class="modal-body">
                          <% if can?(:crud, r) %>
                              <p>
                                <%= link_to "edit",
                                edit_record_path(r),
                                class:"btn btn-light btn-sm" %>
                                <%= link_to(
                                     'delete',
                                     record_path(r),
                                     class:"btn btn-light btn-sm",
                                     method: :delete,
                                     data: {confirm: 'Are you sure?'}
                                   )
                                %>
                              </p>
                          <% end %>

                        </div>
                      </div>

                    </div>
                  </div>
    <%# MODAL above------------------------------------------------%>
                <% end %>
            <% end %>

          </div>
        <% end %>

    </div>
    <div class="col-sm-3">
      <h5>user show</h5>
      <h4><%=@user.full_name %> </h4>

      <button class="btn btn-info btn-sm btn-block mb-4 show-day">
        Toggle Day
      </button>
      <button class="btn btn-info btn-sm btn-block mb-4 show-exe">
        Toggle exercise
      </button>

    <%= link_to 'Screenshot', screenshot_path,
      class:"btn btn-warning btn-sm btn-block mb-4 screenshot"%>

    </div>
  </div>


<%#-Show Screenshot Picture----------------------------------------------%>
  <div class="my-5">
    <% if asset_exists?('test.png') %>
      <img src="<%= asset_path('test.png') %>" >
    <% else %>
      <small>No image exists</small>
    <% end %>
  </div>

<%#-HIDDEN------------------------------------------------------------%>

<div class="all-records">
    <% if @user %>
        <h3><%= @user.first_name %></h3>
        <% @user_records.each do |record| %>
          <p id="show-<%= record.id%>"
            data-toggle="modal"
            data-target="#modal-<%= record.id %>">
            show-<%= record.id %>
          </p>

          <% record.exercises.each do |exe| %>
            <p> <%= exe.name %> </p>
          <% end %>

        <% end %>
    <% else %>
        <h1>later this (all records) will be seen by admin</h1>
        <% @records.each do |record| %>
          <p> <%= link_to record.date,record_path(record) %> </p>
        <% end %>
    <% end %>
</div>
<%#--------------------------------------------------------------------%>




</div>
