<div class="container">
  <h1>user show</h1>
  <h4><%=@user.full_name %> </h4>
<!-- Calendar ---------------------------------------------------->
<%# Error: undefined method `start_time' for #<Record:0x00007ff5405b3118> %>
<%# solution: add a new column name `start_time` on record but the record %>

  <%= month_calendar events: @user_records do |date, user_records| %>
    <div class="cell">
      <div class="day-cell">
        <%= date.day %>
      </div>
      <% user_records.each do |r| %>
          <% r.exercises.each do |e| %>
            <div id="<%= r.id %>"
              class="inner-cell text-center"
              data-toggle="modal"
              data-target="#exampleModalCenter"
              style="background-color:<%= e.colour %>;">
              <span><%= e.name %></span>

            </div>
          <% end %>
      <% end %>

    </div>
  <% end %>
<button class="btn btn-info btn-sm btn-block mb-4 show-day">Toggle Day</button>
<button class="btn btn-info btn-sm btn-block mb-4 show-exe">Toggle exercise</button>


<%#----Modal-----------------------------------------------------------%>
<%# cannot put this into above loop. `event.stopPropagation()` will stop %>
<%# activating modal. %>

<span class="mb-4" data-toggle="modal" data-target="#exampleModalCenter">
  Modal
</span>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        generic message
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<%#-HIDDEN------------------------------------------------------------%>

<div class="all-records">
    <% if @user %>
        <h3><%= @user.first_name %></h3>
        <% @user_records.each do |record| %>
          <p id="show-<%= record.id%>">
            <%= link_to record.date,record_path(record) %>
          </p>

          <% record.exercises.each do |exe| %>
            <p> <%= exe.name %> </p>
          <% end %>

        <% end %>
    <% else %>
        <h1>later this (all records) will be seen by admin</h1>
        <% @records.each do |record| %>
          <p> <%= link_to record.date,record_path(record) %> </p>
        <% end %>
    <% end %>
</div>
<%#--------------------------------------------------------------------%>




</div>
