<div class="record-card">

  <%= simple_form_for @record do |f| %>
    <div class="row">
      <div class="col-sm-6">
          <%= @record.start_time.strftime("%A, %B %d, %Y") %>
      </div>
      <div class="col-sm-6">
        <%= f.input :start_time, as: :time,
            input_html: {class: "time-format"},
            label: false, required: false %>
      </div>
    </div>

    <div id="options">
      <%= f.simple_fields_for :exercises do |opt| %>
        <%= render 'exercise_fields', f: opt %>
      <% end %>
      <div class="links">
        <%= link_to_add_association ' + exercise', f, :exercises, class:"btn btn-dark btn-sm mt-1"  %>
      </div>
    </div>
    <p class=""></p>
    <button type="button" class="show-adv-opt my-2 btn btn-light btn-sm">
      Show/Hide advanced options
    </button>
    <div class="advanced-options">
      <%= f.input :duration , input_html: {class: 'duration-box'}%>
      <%= f.input :note %>
    </div>

    <%= f.submit class: 'btn btn-primary btn-sm btn-block' %>
  <% end %>

</div>
