<%= form_for @record do |form| %>
  <% if @record.errors.present? %>
    <p> <%= @record.errors.full_messages.join(', ') %> </p>
  <% end %>

  <div>
    <%= form.label :duration %>
    <%= form.number_field :duration, min: 1, max: 10000 %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <%= form.fields_for :exercises do |e_form| %>
    <div>
      <%= e_form.label :exercise %>
      <%= e_form.text_field :name,:required => true %>
    </div>
    <div>
      <%= e_form.label :colour %>
      <%= e_form.text_field :colour,:required => true %>
    </div>
  <% end %>


    <%= form.submit %>
<% end %>
