<div class="record-card">

  <%= simple_form_for @record do |f| %>
    <div class="row mb-2">
      <div class="col-sm-9 selected-date">
        <p><%= @record.start_time&.strftime("%A, %B %d, %Y") %></p>
      </div>
      <div class="col-sm-3" style="display:none;">
        <%= f.input :start_time, as: :time,
        input_html: {class: "time-format"},
        label: false, required: false %>
      </div>
    </div>

    <div id="options">
      <p class="latest-record btn btn-light">
        <i class="far fa-hand-point-down"></i>
        apply your last record
      </p>
      <%= f.simple_fields_for :exercises do |opt| %>
        <%= render 'exercise_fields', f: opt %>
      <% end %>
      <div class="links">
        <%= link_to_add_association f, :exercises,
        class:"btn btn-dark btn-sm mt-1" do %>
          <i class="fas fa-plus-square"></i> exercise
        <% end %>
      </div>
    </div>

    <p class=""></p>
    <button type="button" class="show-adv-opt my-2 btn btn-light btn-sm">
      <i class="far fa-edit"></i>
      Click to add a note.
    </button>
    <div class="advanced-options">
      <%= f.input :note %>
    </div>

    <div class="row">
      <div class="col-sm-8">
          <%= f.submit class: 'btn btn-primary btn-sm btn-block dark-blue-btn' %>
      </div>
      <div class="col-sm-4">
        <%=link_to user_path(current_user),
        class: 'btn btn-primary btn-sm btn-block dark-blue-btn' do %>
        <i class="fas fa-arrow-circle-right"></i> Back
        <% end %>
      </div>
    </div>

  <% end %>

</div>
