<div class="container mt-3">

  <div class="card record-card-show">
    <div class="card-body">

      <div class="fancy-date">
        <span class="fancy-day">
          <%= @record.start_time.strftime("%e") %>
        </span>
        <span class="fancy-month">
          &nbsp;&nbsp;
          <%= @record.start_time.strftime("%b") %>
          &nbsp;&nbsp;
        </span>
        <span class="fancy-year">
          <%= @record.start_time.strftime("%Y") %>
        </span>
      </div>

      <% if @record.exercises != [] %>

        <% @record.exercises.each do |exercise| %>
            <div class="exe-item" style="color:<%= exercise.colour %>;">
                <strong><%= exercise.name %></strong>
            </div>
            <div class="exe-time">
                <small>
                  <strong>Created at: </strong>
                  <%= time_ago_in_words(exercise.created_at) %> ago
                </small>
                <small>
                  <strong>Update at: </strong>
                  <%= time_ago_in_words(exercise.updated_at) %> ago
                </small>
            </div>
        <% end %>

      <% end %>


      <% if @record.note.present? %>
        <div class="my-3 exe-notes">
          <p>
            <i class="far fa-sticky-note"></i>
            <%= @record.note%>
          </p>
        </div>
      <% end %>


      <% if can?(:crud, @record) %>
          <p class="mt-2 text-right">
            <%= link_to "back",
                user_path(@record.user),
                class:"btn btn-light btn-sm btn-show-card"
            %>
            <%= link_to "edit",
                edit_record_path(@record),
                class:"btn btn-light btn-sm btn-show-card"
            %>
            <%= link_to(
                 'delete',
                 record_path(@record),
                 method: :delete,
                 data: {confirm: 'Are you sure?'},
                 class:"btn btn-light btn-sm btn-show-card"
               )
            %>
          </p>
      <% end %>
    </div>
  </div>



</div>
