<!DOCTYPE html>
<html>
  <head>
    <title>Log</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%=link_to "Move", home_path %>
    <%=link_to "New Record", new_record_path %>
    <%=link_to "All Record", records_path %>

    <%= yield %>
  </body>
</html>
