<!DOCTYPE html>
<html>
  <head>
    <title> M O V E
      <% if current_user.present? %>
      + <%= current_user&.first_name %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'move.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="grad1">

    <nav class="navbar navbar-expand-sm navbar-light transparent-bg z-depth-0">
      <a class="navbar-brand" href="/"><strong>move</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%=link_to "About", about_path, class: "nav-link" %>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
        </form>

        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <!-- <a class="nav-link" href="#"><%= current_user.first_name %></a> -->
              <%=link_to current_user.first_name, user_path(current_user), class: "nav-link" %>
            </li>

            <li class="nav-item">
                <%= link_to(
                  'Sign Out',
                  session_path,
                  class: "nav-link",
                  method: :delete,
                  data: {confirm: 'Sign out?'}
                ) %>
            </li>

          <% else %>
            <li class="nav-item">
                <%= link_to 'Sign In', new_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to 'Sign Up', new_user_path, class: "nav-link" %>
            </li>
          <% end %>

      </div>
    </nav>

<%# flash -------------------------------------------------------------------%>
    <%# render "layouts/flashes" %>

    <%= yield %>
  </body>
</html>
