<!DOCTYPE html>
<html>
  <head>
    <title> M O V E
      <% if current_user.present? %>
      + <%= current_user&.first_name %>
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'move.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="grad1">


<%# flash -------------------------------------------------------------------%>
    <%# render "layouts/flashes" %>

    <%= yield %>
  </body>
</html>
