<!DOCTYPE html>
<html>
  <head>
    <title>  M O V E </title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'move.ico' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="bg-content">

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
